<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	
	{% if title %}
	   <title>{{ title }}</title>
    {% else  %}
       <title>Website</title>
    {% endif %}

</head>
<body>
	{% include 'includes/_navbar.html' %}
	<div style="margin-top: 20px;">
		{% with messages=get_flashed_messages() %}
		    {% if messages %}
		      {% for message in messages %}
		         <span style="background-color: yellow;
		         color: green; padding: 10px; margin-left: 499px;border-radius: 4px;">{{ message }}</span>
            {% endfor %}
          {% endif %}
      {% endwith %}

		{% block content%}
      {% endblock %}
	</div>
	{% include 'includes/_footer.html' %}


	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>